# 依赖目录
node_modules

# 日志文件
*.log

# 环境配置文件
.env
.env.local
.env.development
.env.test
.env.production

# 编辑器和IDE配置
.idea
.vscode
*.swp
*.swo

# 版本控制
.git
.gitignore

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 测试文件
__tests__
*.test.js
*.spec.js

# 构建输出
/dist
/build
/coverage

# 缓存文件
.npm
.yarn

# 错误报告文件
npm-debug.log
yarn-error.log

# 个人配置或私密信息
config.json